<%=form_for article do |f| %>

<div class="form-group">
  <%=f.label "ã‚¿ã‚¤ãƒˆãƒ«" %>
  <%=f.text_field :title,class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label "ç”»åƒã‚’é¸æŠž" %>
  <%= f.file_field :image %>
</div>

<div class="form-group">
  <%=f.label "æœ¬æ–‡"%>
  <%=f.text_area :body,rows:10,class:"form-control" %>
</div>

<div class="form-group">
  <%=f.submit class:"btn btn-success" %>
</div>

<% end %>
